body {
    background-color: $ivory;
    color: $black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}

.container--big {
    max-width: 1746px;
}

.container--small {
    max-width: 1441px;
}

.container--big,
.container--small {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main-title {
    font-family: 'Cormorant', sans-serif;
    font-weight: 500;
    font-size: 90px;
    line-height: 110px;
    letter-spacing: -0.005em;
}

.title {
    font-family: 'Cormorant', sans-serif;
    font-weight: 300;
    font-size: 76px;
    line-height: 92px;
    letter-spacing: -0.005em;
    text-align: center;
    color: $title;
    margin-bottom: 61px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    padding: 16px 46px;
    border: 1px solid $black;
    border-radius: 22px;
}

.link--arrow {
    position: relative;
    display: block;
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 22px;
    font-weight: 800;
    color: $oat-milk;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    padding-right: 30px;

    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-image: url("../images/prenatalFitness/start/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

.border {
    border-bottom: 1px solid $black;
}

.text--big {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.11em;
    color: $white;
}

.logo--decor {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
}