@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    position: absolute;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid $white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list,
    &__box {
        display: flex;
        align-items: center;
    }

    &__item {
        font-family: 'Open Sans One', sans-serif;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        margin-right: 59px;
    }

    &__link {
        padding: 4px 6px;

        &:hover {
            background-color: $oat-milk;
            border-radius: 18px;
        }

    }

}

.top {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid $black;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100vh;
        padding-bottom: 141px;
    }

    &__title {
        margin-bottom: 30px;
    }

}

.therapy {
    background-color: $ivory;
    padding: 281px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        margin-right: 100px;
        border-radius: 0 300px 0 0;
    }

    &__title {
        font-family: 'Cormorant', sans-serif;
        font-weight: 300;
        font-size: 89px;
        line-height: 116%;
        letter-spacing: -0.005em;
        color: $title;
        margin-bottom: 55px;
    }

    &__text {
        font-size: 19px;
        line-height: 29px;
        letter-spacing: 0.11em;
        color: rgba($black, 0.58);

        p:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

